.header {
    position: relative; /* Необходимо для абсолютного позиционирования */
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin-top: 93px;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.menu ul {
    list-style: none; /* Убираем стандартные маркеры */
    margin: 0;
    padding: 3px;
    display: flex;
}

.menu li {
    position: relative; /* Необходимо для позиционирования псевдоэлементов */
    margin: 0 18px; /* Отступы между пунктами меню */
}

.menu li:not(:first-child)::before {
    content: ""; /* Создаем псевдоэлемент */
    position: absolute;
    left: -20px; /* Сдвигаем маркер влево */
    top: 50%;
    transform: translateY(-50%); /* Центрируем по вертикали */
    width: 6px; /* Ширина круга */
    height: 6px; /* Высота круга */
    border-radius: 50%; /* Делаем круглым */
    background-color: #fff; /* Цвет круга */
    border: 1px solid black; /* Черная граница */
}

.first-item a {
  text-decoration: none; /* Убираем подчеркивание у первого элемента */
}

.item {
    color: #333; /* Цвет текста */
    font-family: 'Raleway', sans-serif; /* Шрифт */
    font-weight: 400; /* Толщина шрифта */
    font-size: 18px; /* Размер шрифта */
    line-height: 100%; /* Высота строки */
}


.logo {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
}


.address {
    position: relative;
    margin-left: 185px;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    flex-wrap: wrap;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0.02em;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;  /* Дети выстраиваются вертикально */
    height: auto;           /* Высота будет равна сумме детей */
}

/* Основной блок с фоновым изображением */
.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    text-align: center;
    width: 1100px;
    min-height: 757px;
    margin-bottom: 50px;
    margin-top: 95px;
}

/* Полупрозрачный слой (overlay) */
.overlay {
    position: absolute;
    /* inset: 0;  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.content {
  display: flex;
  flex-direction: column; /* Вертикальное расположение блоков */
  align-items: center; /* Горизонтальное выравнивание по центру */
  justify-content: center; /* Вертикальное выравнивание по центру */
  height: 100vh; /* Занимает всю высоту экрана */
  background-image: url('background.jpg'); /* Предполагаемый фон */
  background-size: cover;
  background-position: center;
}

/* Блок с заголовком */
.title {
    display: flex;
    flex-direction: column; /* Вертикальное расположение строк */
    justify-content: space-between; /* Распределяет строки равномерно */
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    width: 1100px; /* Ширина контейнера */
    padding: 133px 20px 10px 18px; /* Внутренние отступы */
    margin-top: -50px; /* Поднимаем заголовок на 50 пикселей */
    text-align: center; /* По умолчанию все строки по центру */
}

.ono-line {
    text-align: left; /* Левое выравнивание первой строки */
    margin-top: 10px;

}

.tebe-line {
    text-align: center; /* Центральное выравнивание второй строки */
    margin-top: 30px;
}

.nado-line {
    text-align: right; /* Правое выравнивание третьей строки */
    margin-top: 30px;
}

/* Блок с описанием и кнопкой */
.description {
  display: flex;
  justify-content: space-between; /* Размещает элементы по краям */
  align-items: center; /* Выравнивает элементы по вертикали */
  width: 100%; /* Занимает всю доступную ширину */
  max-width: 1000px; /* Максимальная ширина */
  margin-top: 100px; /* Увеличиваем отступ сверху */
}

.description-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  word-spacing: 1.3em;
  text-transform: uppercase;
  max-width: 660px;
}

.act-button {
  padding: 10px 20px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 256px;
  height: 51px;
}


.act-button:hover {
    background-color: white;
    color: black;
}

.lots {
    position: relative;
    margin-top: 130px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    max-width: 1100px;
    margin-bottom: 50px;
}

.lots-head {
    position:relative;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 4px;
}

.cards {
    display: flex;
    justify-content: space-between; /* Распределяет карточки равномерно */
    align-items: center;
    width: 100%;
    max-width: 100%; /* Ограничение максимальной ширины */
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px; /* Межэлементные отступы */
}

.card {
    width: 334px; /* Соответствует flex-basis */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0; /* Убираем лишние отступы */
    list-style: none; /* Убираем маркеры списка */
}

.card1 {
    background-image: url('../images/card-lot-01.jpg');
}

.card2 {
    background-image: url('../images/card-lot-02.jpg');
}

.card3 {
    background-image: url('../images/card-lot-03.jpg');
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px; /* Соответствует flex-basis */
    min-height: 596px; /* Высота карточки */
}

.card-head {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #FFFFFF;
    position: relative;
    width: 254px; /* Соответствует flex-basis */
    top: 48px; /* Отступ от края карточки */
    left: 40px; /* Отступ от края карточки */
    z-index: 2;
}

.card-text {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    bottom: 48px; /* Отступ от края карточки */
    width: 254px; /* Соответствует flex-basis */
    left: 40px; /* Отступ от края карточки */
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

.additional_text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    position: relative;
    margin-left: 40px;
    margin-top: 33px;

}

.about {
    margin-bottom: 50px;
    margin-top: 72px;
    margin-left: 24px;
    position: relative; /* Относительное позиционирование */
    min-height: 595px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Выравниваем по верхней границе */
}

.logo_bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
    margin-top: 35px;
    margin-left: 47px;
}

.text-container {
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравниваем по верхней границе */
    align-items: start;
    width: 693px;
    min-height: 449px;
    margin-left: 60px;
}

.about-head {
    position:relative;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: -25px;
    margin-top: 10px;
}
.description_text {
    display: flex;
    margin-top: 102px;
    margin-left: -25px;
    height: 312px;
    width: 690px;
    flex-direction: column;
    justify-content: space-between;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    gap: 20px;
}

.shift-down {
  margin-top: 23px; /* Или position: relative; top: 50px; */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
}

.address-bottom {
    margin-left: 50px;
    margin-top: 130px;
    max-width: 300px;
    letter-spacing: 0.01em;
    font-style: normal;
}
.menu_bottom {
    display: flex;
    margin-top: 75px;
    margin-left: -40px;
    flex-direction: column; /* Вертикальное расположение */
    justify-content: space-between; /* Выравнивание по вертикали */
    align-items: center; /* Выравнивание по горизонтали */
    width: 164px;
    min-height: 48px;
}

.menu_bottom ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 20px;
}

.menu_bottom li {
    position: relative; /* Для добавления линий */
    margin: 5px 0; /* Отступ между элементами */
}

.menu_bottom li::after {
    content: ""; /* Создаём псевдоэлемент */
    position: absolute;
    bottom: -5px; /* Позиционируем линию под текстом */
    left: 50%; /* Центрируем линию */
    transform: translateX(-50%); /* Корректируем положение линии */
    width: 80%; /* Ширина линии */
    height: 1px; /* Толщина линии */
    background-color: #ccc; /* Цвет линии */
}

.menu_bottom a {
font-family: Raleway, sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 100%;
text-align: center;
}

.logo-bottom {
    width: auto;
    max-width: 146px;
    height: auto;
}

.social {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-right: 50px;
    margin-top: 80px;
    min-width: 240px;
    max-height: 48px;
    min-height: 48px;
    list-style: none;
}

.social_svg {
    display: flex;
    justify-content: space-between;
    width: 48px;
    height: 48px;
    object-fit: contain;
}